body {


        font-family:'kalpurush',Arial,sans-serif;
        font-size:13px;
}




.loadingImage{
  height: 30px;
}
h3 {

      padding-left: 20px;

    text-align: center;
}
.thumbnail{
  position: relative;
  left:15px;
  margin-bottom: 0px;
  min-height: 66px;
  max-height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail .img-responsive{

}
.img-source{
    padding-right: 8px;
}
/*.img-thumbnail{
  padding-left: 1px;
  padding-right:1px;
  padding-left: 8px;
  padding-right: 8px;
}*/
.p{
  margin-bottom: 5px;
}
.col-xs-9{
  padding-left: 25px;
}
.bottom-border{
  border-bottom: 2px solid #e6dcdc;
}
.footer{
    color:#325E90;

}
.desc{
/*max-height: 40px;*/
  color:#325E90;
  font-weight: bold;
}
.row{
  padding-top: 8px;
  padding-bottom: 5px;

height: 90px;
}
.container{
  padding-left: 5px;
  padding-right: 5px ;
  padding-top: 5px ;
  padding-bottom: 5px ;
}
.header-icon
{
  margin-right: 10px;
}
#menu2,#menu1,#menu3 {
  height: 475px;
  /*width: 380px;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

.source{
	padding-right: 7px;
	border-right: 1px solid #C3C3C3;
	margin-right: 7px;
	color: #579AB5;
}

.animation_image {
  margin-top: 10px;
}
/*p{
  padding-right: 3px;
}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color:#d9edf7;
background-color: #2cc185;
}
a,a:hover{
  color:#080808;

}



/*.container{
  padding-right: 2px;
padding-left: 2px;
}*/
/*#2cc185*/

/*body {
  overflow-y: scroll;
}*/
/*.leftImage{
  float:right;
  width:42px;
  height:42px;
}


 #mainBody {

    background-image: url("white.jpg");
}*/


@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 400px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 400px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}
